<div class="container graph-container">
	<div>
		<!-- <div class="chartTools">
			<a class="" ng-click="drawChart('home')">Home</a>
			<a ng-repeat="tool in toolList" class="" ng-click="drawChart(tool)">{{tool}}</a>
		</div> -->
		<dv class="row">
			<div class="center">
				<!-- <div class="input-field col l12 s12 m12">
					<select ng-model ="chartToolName" class="browser-default uppercase" ng-change="drawChart()">
						<option value="" disabled selected>Choose your option</option>
						<option value="home">Home</option>
						<option ng-repeat="tool in toolList" value="{{tool}}">{{tool}}</option>
					</select>
					<!-- <label>Materialize Select</label> -->
				</div> 
			</div>
		</dv>
		<!-- <div class="chart-type-selector">
			<p>   <input name="graphType" ng-model="chartType" type="radio" id="test1" value="daily" ng-change="changeGraphType()"/>
				<label for="test1">Daily</label>
				<input name="graphType" type="radio" ng-model="chartType" id="test2" value="hourly" ng-change="changeGraphType()"/>
				<label for="test2">Hourly</label>
			</p>
		</div> -->
	</div>
	<div ng-if="isChartLoaded" google-chart chart="myChartObject" style="height:500px; width:100%;" class="graph-wrapper"></div>
	<div ng-if="!isChartLoaded" class="center">Rendering Graph...</div>
	<div ng-if="!isChartDataAvailable" class="center">Seems like, there is no data to draw!</div>
	<!-- <div class="chartTools">
	<a class="btn-flat" ng-disabled="myChartObject.type=='BarChart'" ng-click="renderChartType('BarChart')">Bar</a>
	<a class="btn-flat" ng-click="renderChartType('LineChart')">Line</a>
		
	</div> -->
</div>
