<div id="projects">
    <div class="containerWelcome">
        <div class="screemnCenter">
            <div class="smart-search-stats">
                <p style="text-align: center"><button ng-click="generateMissingFiles()" class="waves-effect waves-light red lighten-3 btn">Generate Missing Files</button></p>
                <p style="text-align: center">Total Files: {{count}}</p>
                <table class="bordered responsive">
                    <tr>
                        <th>Name</th>
                        <th>File Path</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="file in files">
                        <td>{{file.name}}</td>
                        <td><code>{{file.path}}</code></td>
                        <td ng-if="file.status">Available <i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                        <td ng-if="!file.status">Not Available <i class="fa fa-times-circle-o" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

