<div id="projects">
    <div class="containerWelcome">
        <div class="screemnCenter">
            <div class="search-wrapper">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchkeysmatstats">
                <span id="search-icon"><i class="material-icons">search</i></span>
            </div>
            <div class="smart-search-stats">
                <table class="bordered responsive">
                    <thead>
                    <tr>
                        <th>Search key</th>
                        <th>No. of times searched</th>
                        <th>Identified class</th>
                        <th>Result (Smartkey)</th>
                        <th>Keywords Filtered)</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="entry in entries | filter:searchkeysmatstats">
                        <td>{{entry.searchkey}}</td>
                        <td>{{entry.count}}</td>
                        <td>{{entry.class}}</td>
                        <td ng-bind-html="to_trusted(entry.result)"></td>
                        <td><span ng-repeat="tag in entry.filteredKeywords">{{tag}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

